<div style="width: 100vh; height: 100hvs;"> 

<div class="card justify-content-center align-content-center    " >
    <div class="card-body " >
        <center>
        <h1>Acerca de</h1>
        <p>Proyecto de la materia "Bases de datos".</p>
        <p>Alumno: Juan Arias Castillo.</p>
        <p>Matrícula: 212t0436</p>
        <p>Profesor: MSC. Irahan Otoniel José Guzmán.</p>
        <p>Posgrado: Maestría en Sistemas Computacionales.</p>
        <p>Escuela: Instituto Tecnológico Superior de Misantla.</p>
    </center>
    </div>
</div>
</div>