<div class="jumbotron m-4">
    <h1 class="display-4">
        Producción académica
    </h1>
    <p class="lead">Instituto Tecnológico Superior de Misantla</p>
    <hr class="my-4">
    <center>
    <img src="/img/escribiendo.jpg" height="450px">
</center>
</div>