* {
    /* border: 1px black solid; */
}

body {
    background-image: url(/img/fondoBlanco.jpg);
    background-size: cover;
    background-attachment: fixed;
}

table {
    table-layout: fixed;
    width: 250px;
}

th,
td {
    /* border: 1px solid blue; */
    width: 100px;
    max-height: 50px;
    /* word-wrap: break-word; */
    text-align: center;
    vertical-align: middle;
}

.tdUrl {
    max-width: 100px;
    overflow: auto;
    /* text-overflow:; */
    white-space: nowrap;
}

.btnx1 {
    width: 80%;
    margin: 5px 0;
}

.btnx2 {
    width: 40%;
    margin: 10px;
}

#n:hover {
    cursor: default;
}