<div class="col-md-10 mx-auto" style="margin-bottom: 25px;">
  <div class="card">
   
   
{{#ifEquals usuario._id thisUser.id}}
   
    <div
      class="card-header"
      style="display: flex; justify-content: space-between; "
    >

      <div id="n" style="opacity: 0;">
        x
      </div>

      <div
        style="align-self: center;
         "
      >
        <h1>Artículos</h1>

      </div>

      <div
        style="align-self: flex-end; 
         "
      >

        
          <a href="/articles_new-article" class="btn btn-outline-secondary">
            Nuevo Artículo
          </a>


      </div>
    </div>


    <center>
      {{! <h3>Administradores</h3> }}
    </center>

    <div class="card-body" style="">
      <table class="table table-striped">
        <tr>
          <th>Nombre</th>
          <th>Autores</th>
          <th>Tipo</th>
          <th>URL</th>
          <th>Opciones</th>
        </tr>

        {{#each articles}}

          <tr>
            <td>{{nombre}}</td>
            <td>{{autor}}</td>
            <td>{{tipo}}</td>
            <td class="tdUrl">{{url}}</td>
            <td>

              <form action="/articles/view/{{_id}}" method="post">

                <input type="hidden" name="idUser" value="{{idUser}}" />

                <a href="/articles/view/{{_id}}">
                  <button type="submit" class="btn btn-outline-primary btnx1">
                    Visualizar
                  </button>
                </a>

              </form>
                <a
                  href="/articles/edit/{{_id}}"
                  class="btn btn-outline-primary btnx1"
                >
                  Editar
                </a>

                <form
                  action="/articles/delete/{{_id}}?_method=DELETE"
                  method="post"
                >
                  <button type="submit" class="btn btn-outline-danger btnx1">
                    Eliminar
                  </button>
                </form>

            </td>
          </tr>

        {{/each}}
      </table>

    </div>

{{else}}



 <div
      class="card-header"
      style="display: flex; justify-content: space-between; "
    >

      <div id="n" style="opacity: 0;">
        x
      </div>

      <div
        style="align-self: center;
         "
      >
        <h1>Artículos</h1>

      </div>

      <div
        style="align-self: flex-end; 
         "
      >


      </div>
    </div>


    <center>
      {{! <h3>Administradores</h3> }}
    </center>

    <div class="card-body" style="">
      <table class="table table-striped">
        <tr>
          <th>Nombre</th>
          <th>Autores</th>
          <th>Tipo</th>
          <th>URL</th>
          <th>Opciones</th>
        </tr>

        {{#each articles}}

          <tr>
            <td>{{nombre}}</td>
            <td>{{autor}}</td>
            <td>{{tipo}}</td>
            <td class="tdUrl">{{url}}</td>
            <td>

              <form action="/articles/view/{{_id}}" method="post">

                <input type="hidden" name="idUser" value="{{idUser}}" />

                <a href="/articles/view/{{_id}}">
                  <button type="submit" class="btn btn-outline-primary btnx1">
                    Visualizar
                  </button>
                </a>

              </form>


            </td>
          </tr>

        {{/each}}
      </table>

    </div>




{{/ifEquals}}

  </div>

</div>