<div class="row">
    <div class="col-md-4 mx-auto" style="width: 40%;">
        <div class="card">
            <div class="card-header">
                <center>
                    <h2>Editar artículo o poster</h2>

                </center>
            </div>
            <div class="card-body">

                <form action="/articles/edit/{{article._id}}?_method=PUT" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="_method" value="PUT">
                    <input type="hidden" name="idUser" value="{{article.idUser}}">

                    <div class="mt-3">
                        <input type="text" name="nombre" placeholder="Nombre" class="form-control"
                            value="{{article.nombre}}" autofocus required>
                    </div>

                    <div class="mt-3">
                        <input type="text" name="autor" placeholder="Autor o autores" class="form-control"
                            value="{{article.autor}}" required>
                    </div>

                    <div class="mt-3">
                        <input type="text" name="tipo" placeholder="Tipo de documento" class="form-control"
                            value="{{article.tipo}}" required>
                    </div>
                    <div>
                        <p>Ejemplo: JCR, SCIMAGO, Indice Scopus, Conacyt.</p>
                    </div>


                    <div class="mt-3">
                        <input type="text" name="url" placeholder="Dirección url" class="form-control"
                            value="{{article.url}}" required>
                    </div>

                    <center>
                        <div class="mt-3">
                            Documento PDF: <br>
                            <input type="file" name="file" />
                        </div>
                    </center>


                    <div class="mt-3" style="text-align: center;">
                        <a href="/articles/{{article.idUser}}" class="btn btn-secondary btnx2">
                            Cancelar
                        </a>
                        <button type="submit" class="btn btn-primary btnx2">
                            Actualizar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>