<br>
<div class="row">
    <div class="col-md-4 mx-auto" style="width: 40%;">
        <div class="card">
            <div class="card-header">
                <center>
                    <h2>Registro de artículos o posters</h2>

                </center>
            </div>
            <div class="card-body">

                <form action="/articles_new-article" method="post" enctype="multipart/form-data">
                    <div class="mt-3">
                        <input type="text" name="nombre" placeholder="Nombre" class="form-control"
                         value="{{article.nombre}}" autofocus required>
                    </div>

                    <div class="mt-3">
                        <input type="text" name="autor" placeholder="Autor o autores" class="form-control" 
                        value="{{article.autor}}" required>
                    </div>

                    <div class="mt-3">
                        <input type="text" name="tipo" placeholder="Tipo de documento" class="form-control"
                        value="{{article.tipo}}" required>
                    </div>
                    <div>
                        <p>Ejemplo: JCR, SCIMAGO, Indice Scopus, Conacyt.</p>
                    </div>


                    <div class="mt-3">
                        <input type="text" name="url" placeholder="Dirección url" class="form-control"
                        value="{{article.url}}" required>
                    </div>

                    <center>
                        <div class="mt-3">
                            Documento PDF: <br>
                            <input type="file" name="file" required />
                        </div>
                    </center>

                    <div class="mt-3">
                        <a href="/articles/{{thisUser.id}}" class="btn btn-secondary btnx2">
                            Cancelar
                        </a>
                        <button type="submit" class="btn btn-primary btnx2">
                            Registrar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>