{{#if PDF.filename}}

<form>
    <embed style="width: 100%; min-height: 85vh;" src="/files/{{PDF.filename}}" type="application/pdf">
</form>

{{else}}

<center>
    <h1>Archivo PDF no encontrado</h1>
</center>
{{/if}}