{{#if success_msg}}

<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{success_msg}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
</div>

{{/if}}

{{#if error_msg}}

<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{error_msg}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
</div>

{{/if}} 