<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">Producción académica</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">Acerca de</a>
        </li>
      </ul>
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

        {{#if user}}

          <button type="submit" class="btn btn-outline-info " disabled>

            Soy {{user.rol}}
          </button>

          <li class="nav-item dropdown">

            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <span class="navbar-toggler-icon"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

              {{#ifEquals user.rol "superAdmin"}}

                <li><a class="dropdown-item" href="/home">Usuarios</a></li>
                <li><a class="dropdown-item" href="/reports">Reportes</a></li>

              {{/ifEquals}}

              {{#ifEquals user.rol "admin-colaborador"}}
                <li><a class="dropdown-item" href="/home">Usuarios</a></li>

                <li><a
                    class="dropdown-item"
                    href="/users/profile"
                  >Perfil</a></li>
                <li><a class="dropdown-item" href="/reports">Reportes</a></li>
                <li><a
                    class="dropdown-item"
                    href="/articles_new-article"
                  >Registrar artículo</a></li>

              {{/ifEquals}}

              {{#ifEquals user.rol "admin"}}
                <li><a class="dropdown-item" href="/home">Usuarios</a></li>
                <li><a class="dropdown-item" href="/reports">Reportes</a></li>
              {{/ifEquals}}

              {{#ifEquals user.rol "colaborador"}}
                <li><a
                    class="dropdown-item"
                    href="/users/profile"
                  >Perfil</a></li>
                <li><a
                    class="dropdown-item"
                    href="/articles_new-article"
                  >Registrar artículo</a></li>
              {{/ifEquals}}

              <li><a class="dropdown-item" href="/users/logout">Cerrar sesion</a></li>
            </ul>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link active" href="/users/signup">Registrarse</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/users/signin">Iniciar Sesion</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>