<div class="row">
    {{#each notes}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between align-items-center">
                    {{title}} <a href="/notes/edit/{{_id}}"> <i class="fas fa-edit"></i></a>
                </h4>
                <p>
                    {{description}}
                </p>
                <form action="/notes/delete/{{_id}}?_method=DELETE" method="post">
                    <button type="submit" class="btn btn-danger w-100 btn-sm">
                        Borrar
                    </button>
                </form>

            </div>
        </div>
    </div>

    {{else}}
    <div class="card mx-auto">
        <div class="card-body">
            <h1>{{user.nombre}}</h1>
            <script> 
                console.log(user.nombre);
            </script>
            <p class="lead">No hay notas</p>
            <a href="/notes/add" class="btn btn-success ">Crea una!</a>
        </div>
    </div>

    {{/each}}
</div>