<div class="col-md-10 mx-auto" style="margin-bottom: 25px;">
  <div
    style=" position: relative; top: 20px;left: calc(100% - 150px);height: 0; z-index: 1;"
  >

    <form action="/reports/download/{{date.fecha}}" method="post">

      <input type="hidden" name="fecha" value="{{date.fecha}}" />
      <input type="hidden" name="month" value="{{date.month}}" />
      <input type="hidden" name="year" value="{{date.year}}" />

      <input type="hidden" name="usuarios" value="{{usuarios}}" />
      <input type="hidden" name="usuariosAdmin" value="{{usuariosAdmin}}" />
      <input type="hidden" name="articulos" value="{{articulos}}" />
      <input type="hidden" name="promArt" value="{{promArt}}" />

      <input type="hidden" name="usuariosT" value="{{usuariosT}}" />
      <input type="hidden" name="usuariosAdminT" value="{{usuariosAdminT}}" />
      <input type="hidden" name="articulosT" value="{{articulosT}}" />
      <input type="hidden" name="promArtT" value="{{promArtT}}" />

      <input type="hidden" name="month1" value="{{date.month1}}" />
      <input type="hidden" name="month2" value="{{date.month2}}" />
      <input type="hidden" name="year1" value="{{date.year1}}" />
      <input type="hidden" name="year2" value="{{date.year2}}" />
      <input type="hidden" name="day" value="{{date.day}}" />

      <a href="reports/download/{{date.fecha}}">
        <button
          type="submit"
          class="btn btn-outline-primary"
          style="font-size: 12px;"
        >
          Descargar Reporte
        </button>
      </a>

    </form>

  </div>

  <div class="card" style="margin-bottom: 25px;">
    <div class="card-header" style="">
      <center>
        <h1>Información general</h1>

      </center>

      <div
        style="display: flex; justify-content: space-around; align-content: center; "
      >

        <div style="align-self: center;">

          <form action="/reports" method="post">

            <input type="hidden" name="month" value="{{date.month2}}" />
            <input type="hidden" name="year" value="{{date.year}}" />
            <input type="hidden" name="direction" value="back" />
            <button type="submit" class="btn btn-outline-secondary">
              Mes anterior
            </button>
          </form>

        </div>

        <div style="align-self: center;">
          <h3>{{date.month}}/{{date.year}}</h3>
        </div>

        <div style="align-self: center;">
          <form action="/reports" method="post">

            <input type="number" name="month" value="{{date.month2}}" hidden />
            <input type="number" name="year" value="{{date.year}}" hidden />
            <input type="text" name="direction" value="forward" hidden />

            <button type="submit" class="btn btn-outline-secondary">
              Siguiente mes
            </button>
          </form>

        </div>
      </div>
    </div>

    <div class="card-body" style="">
      <table class="table table-striped" style="">
        <tr>
          <th style="width: 60px;"></th>
          <th>Usuarios Registrados (colaboradores)</th>
          <th>Usuarios Registrados (administradores)</th>
          <th>Artículos registrados</th>
          <th>Promedio de Articulos por usuario</th>

        </tr>

        <tr>
          <th>Este mes</th>
          <td>{{usuarios}}</td>
          <td>{{usuariosAdmin}}</td>
          <td>{{articulos}}</td>
          <td>{{promArt}}</td>
        </tr>
        <tr>
          <th>Total</th>
          <td>{{usuariosT}}</td>
          <td>{{usuariosAdminT}}</td>
          <td>{{articulosT}}</td>
          <td>{{promArtT}}</td>
        </tr>

      </table>

    </div>
  </div>

  <div class="card">
    <div class="card-header" style="">
      <center>
        <h1>Usuarios</h1>
      </center>
    </div>

    <div class="card-body" style="">

      <h2>Administradores</h2>

      <table class="table table-striped">
        <tr>
          <th>Usuario</th>
          <th>Apellidos</th>
          <th>Nombre(s)</th>
          <th>Correo</th>
          {{!-- <th style="">CVU</th> --}}
          <th>Fecha de Registro</th>
        </tr>

        {{#each usersAdmin}}

          <tr>
            <td>{{usuario}}</td>
            <td>{{apellidos}}</td>
            <td>{{nombre}}</td>
            <td>{{correo}}</td>
            {{!-- <td class="tdUrl">
              {{cvu}}
            </td> --}}
            <td>{{fechaRegistro}}</td>
          </tr>

        {{/each}}
      </table>

      <h2>colaboradores</h2>

      <table class="table table-striped">
        <tr>
          <th>Usuario</th>
          <th>Apellidos</th>
          <th>Nombre(s)</th>
          <th>Correo</th>
          <th style="">CVU</th>
          <th>Fecha de Registro</th>
        </tr>

        {{#each usersColl}}

          <tr>
            <td>{{usuario}}</td>
            <td>{{apellidos}}</td>
            <td>{{nombre}}</td>
            <td>{{correo}}</td>
            <td class="tdUrl">
              {{cvu}}
            </td>
            <td>{{fechaRegistro}}</td>
          </tr>

        {{/each}}
      </table>

    </div>
  </div>

  <div class="card">
    <div class="card-header" style="">
      <center>
        <h1>Artículos</h1>
      </center>
    </div>

    <div class="card-body" style="">
      <table class="table table-striped">
        <tr>
          <th>Nombre</th>
          <th>Autores</th>
          <th>Tipo</th>
          <th style="">
            URL
          </th>
          <th>Usuario (propietario)</th>
        </tr>

        {{#each articles}}

          <tr>
            <td>{{nombre}}</td>
            <td>{{autor}}</td>
            <td>{{tipo}}</td>
            <td class="tdUrl">
              {{url}}
            </td>
            <td>{{username}}</td>
          </tr>

        {{/each}}
      </table>

    </div>
  </div>

</div>