<!DOCTYPE html>
<html lang="es">
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

    <!-- font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />

    <!-- custom css   -->
    <!-- <link rel="stylesheet" href="/css/main.css" /> -->
</head>

<body>


    <div class="col-md-10 mx-auto " style="margin-bottom: 25px ">

        <!-- {{#each infogrl}} {{#if linkImage}}
        <div class="position-absolute top-0 start-0 " style="width: 10%; " scope="col">
            <img src="https://produccion-academica-jariasca.herokuapp.com/img/itsm.jpg" alt="" width="65" height="65">
        </div>
        {{/if}} {{/each}} -->

        <center>

            <div style="width: 80%;">
                <h1 class="fst-italic fw-bold mb-4">
                    Producción académica
                </h1>
            </div>
        </center>

        <div class="card " style="margin-bottom: 25px ">
            <div class="card-header ">
                <center>
                    <h3>Información general</h3>

                    <div style="align-self: center ">
                        {{#each fecha}}
                        <h4>{{month}}/{{year}}</h4>
                        {{/each}}
                    </div>
                </center>
            </div>

            <div class="card-body " style=" ">
                <table class="table table-striped " style=" ">
                    <tr>
                        <th style="width: 20px "></th>
                        <th style="text-align: center; font-size: 11px ">
                            Usuarios Registrados (colaboradores)
                        </th>
                        <th style="text-align: center; font-size: 11px ">
                            Usuarios Registrados (administradores)
                        </th>
                        <th style="text-align: center; font-size: 11px ">
                            Artículos registrados
                        </th>
                        <th style="text-align: center; font-size: 11px ">
                            Promedio de Articulos por usuario
                        </th>
                    </tr>

                    {{#each infogrl}}

                    <tr>
                        <th style="font-size: 10px ">Este mes</th>
                        <td style="text-align: center; font-size: 10px ">{{usuarios}}</td>
                        <td style="text-align: center; font-size: 10px ">{{usuariosAdmin}}</td>
                        <td style="text-align: center; font-size: 10px ">{{articulos}}</td>
                        <td style="text-align: center; font-size: 10px ">{{promArt}}</td>
                    </tr>
                    <tr>
                        <th style="font-size: 10px ">Total</th>
                        <td style="text-align: center; font-size: 10px ">{{usuariosT}}</td>
                        <td style="text-align: center; font-size: 10px ">{{usuariosAdminT}}</td>
                        <td style="text-align: center; font-size: 10px ">
                            {{articulosT}}
                        </td>
                        <td style="text-align: center; font-size: 10px ">{{promArtT}}</td>
                    </tr>

                    {{/each}}
                </table>
            </div>
        </div>
    </div>

    <div class="card ">
        <div class="card-header " style=" ">
            <center>
                <h3>Usuarios</h3>
            </center>
        </div>

        <div class="card-body " style=" ">

            <center>
                <h4>Administradores</h4>
            </center>

            <table class="table table-striped w-100 ">
                <tr>
                    <th style="text-align: center; font-size: 11px ">Usuario</th>
                    <th style="text-align: center; font-size: 11px ">Apellidos</th>
                    <th style="text-align: center; font-size: 11px ">Nombre(s)</th>
                    <th style="text-align: center; font-size: 11px ">Correo</th>
                    <th style="text-align: center; font-size: 11px ">fechaRegistro</th>
                </tr>

                {{#each users}} {{#ifEquals rol "superAdmin"}}
                <tr>
                    <td style="max-width: 120px; text-align: center; font-size: 9px ">
                        {{usuario}}
                    </td>

                    <td style="text-align: center; font-size: 9px ">{{apellidos}}</td>
                    <td style="text-align: center; font-size: 9px ">{{nombre}}</td>
                    <td style="text-align: center; font-size: 8px ">{{correo}}</td>
                    <td style="text-align: center; font-size: 9px ">{{fechaRegistro}}</td>
                </tr>
                {{/ifEquals}} {{#ifEquals rol "admin"}}
                <tr>
                    <td style="max-width: 120px; text-align: center; font-size: 9px ">
                        {{usuario}}
                    </td>

                    <td style="text-align: center; font-size: 9px ">{{apellidos}}</td>
                    <td style="text-align: center; font-size: 9px ">{{nombre}}</td>
                    <td style="text-align: center; font-size: 8px ">{{correo}}</td>
                    <td style="text-align: center; font-size: 9px ">{{fechaRegistro}}</td>
                </tr>
                {{/ifEquals}} {{#ifEquals rol "admin-colaborador"}}
                <tr>
                    <td style="max-width: 120px; text-align: center; font-size: 9px ">
                        {{usuario}}
                    </td>

                    <td style="text-align: center; font-size: 9px ">{{apellidos}}</td>
                    <td style="text-align: center; font-size: 9px ">{{nombre}}</td>
                    <td style="text-align: center; font-size: 8px ">{{correo}}</td>
                    <td style="text-align: center; font-size: 9px ">{{fechaRegistro}}</td>
                </tr>
                {{/ifEquals}} {{/each}}
            </table>

            <center>
                <h4>colaboradores</h4>
            </center>

            <table class="table table-striped w-100 ">
                <tr>
                    <th style="text-align: center; font-size: 9.5px ">Usuario</th>
                    <th style="text-align: center; font-size: 9.5px ">Apellidos</th>
                    <th style="text-align: center; font-size: 9.5px ">Nombre(s)</th>
                    <th style="text-align: center; font-size: 9.5px ">Correo</th>
                    <th style="text-align: center; font-size: 9px ">CVU</th>
                    <th style="text-align: center; font-size: 9px ">fechaRegistro</th>

                </tr>

                {{#each users}} {{#ifEquals rol "admin-colaborador"}}
                <tr>
                    <td style="max-width: 120px; text-align: center; font-size: 8px ">
                        {{usuario}}
                    </td>

                    <td style="text-align: center; font-size: 8px ">{{apellidos}}</td>
                    <td style="text-align: center; font-size: 8px ">{{nombre}}</td>
                    <td style="text-align: center; font-size: 7px ">{{correo}}</td>
                    <td style="max-width: 150px; text-align: center; font-size: 8px ">
                        {{cvu}}
                    </td>
                    <td style="text-align: center; font-size: 7px ">{{fechaRegistro}}</td>
                </tr>
                {{/ifEquals}} {{#ifEquals rol "colaborador"}}
                <tr>
                    <td style="max-width: 120px; text-align: center; font-size: 9px ">
                        {{usuario}}
                    </td>

                    <td style="text-align: center; font-size: 9px ">{{apellidos}}</td>
                    <td style="text-align: center; font-size: 9px ">{{nombre}}</td>
                    <td style="text-align: center; font-size: 8px ">{{correo}}</td>
                    <td style="max-width: 150px; text-align: center; font-size: 9px ">
                        {{cvu}}
                    </td>
                    <td style="text-align: center; font-size: 9px ">{{fechaRegistro}}</td>
                </tr>
                {{/ifEquals}} {{/each}}
            </table>


        </div>
    </div>



    <div class="card ">
        <div class="card-header " style=" ">
            <center>
                <h3>Artículos</h3>
            </center>
        </div>

        <div class="card-body " style=" ">
            <table class="table table-striped w-100 ">
                <tr>
                    <th style="text-align: center; font-size: 11px ">Nombre</th>
                    <th style="text-align: center; font-size: 11px ">Autores</th>
                    <th style="text-align: center; font-size: 11px ">Tipo</th>
                    <th style="text-align: center; font-size: 11px ">URL</th>
                    <th style="text-align: center; font-size: 11px ">
                        Usuario (propietario)
                    </th>
                </tr>

                {{#each articles}}
                <tr>
                    <td style="max-width: 120px; text-align: center; font-size: 9px ">
                        {{nombre}}
                    </td>

                    <td style="text-align: center; font-size: 9px ">{{autor}}</td>
                    <td style="text-align: center; font-size: 9px ">{{tipo}}</td>
                    <td style="max-width: 150px; text-align: center; font-size: 9px ">
                        {{url}}
                    </td>
                    <td style="text-align: center; font-size: 9px ">{{username}}</td>
                </tr>

                {{/each}}
            </table>
        </div>
    </div>

</body>

</html>