{{#if report.fecha}}

<form>
    <embed style="width: 100%; height: 87vh;" src="/files/pdf/{{report.fecha}}.pdf" type="application/pdf">
</form>

{{else}}

<center>
    <h1>Archivo PDF no encontrado</h1>
</center>
{{/if}}