<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producción académica</title>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script src="https://momentjs.com/downloads/moment.js"></script>



    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


    <!-- font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">



    <!-- custom css   -->
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

    {{>navigation}}
<div class="position-absolute top-0 start-0 " style="width: 10%; margin-left: 15px; " scope="col">
            <img src="https://produccion-academica-jariasca.herokuapp.com/img/itsm.jpg" alt="" width="55" height="55">
        </div>
    <div class="prueba"></div>
    <main class="container">
        <br>
        {{> messages}}
        {{> errors}}

        {{{body}}}

        {{cosa}}
    </main>


    {{!-- <p>footer</p> --}}

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

<script>
    // var URLactual = window.location;
    //alert(URLactual);

    $(document).ready(function () {
        //$('.prueba').load('prueba.html');
    });
</script>

</html>


