<div class="col-md-10 mx-auto" style="margin-bottom: 25px;">
    <div class="card">
        <div class="card-header" style="">
            <center>
                <h1>Usuarios</h1>
            </center>
        </div>
        <br>
        <center>
            <h3>Administradores</h3>
        </center>

        <div class="card-body" style="">
            <table class="table table-striped">
                <tr>
                    <th>Usuario</th>
                    <th>Apellidos</th>
                    <th>Nombre(s)</th>
                    <th>Correo electrónico</th>
                    <th>Cuenta</th>
                    <th>Opciones</th>
                    <th>conexión</th>
                </tr>


                {{#each usuarios}} {{#ifEquals rol "superAdmin"}}

                <tr>
                    <td>{{this.usuario}}</td>
                    <td>{{this.apellidos}}</td>
                    <td>{{nombre}}</td>
                    <td>{{correo}}</td>
                    <td>{{rol}}</td>
                    <td>

                        {{#ifEquals usuarioActual _id }}
                            <button class="btn btn-outline-primary btnx1" disabled>
                                Soy yo
                            </button> 
                        {{else}}
                            {{#ifEquals usuario "jariasca"}}
                            <button class="btn btn-outline-primary btnx1" disabled>
                                Sin acceso
                            </button> 
                            {{else}}
                                <a href="/users/profile/{{_id}}" class="btn btn-outline-primary btnx1">
                                    Ver más
                                </a>
                            {{/ifEquals}}
                        {{/ifEquals}}

                    </td>
                    <td>{{timeago estado}}</td>
                </tr>
                {{/ifEquals}} {{#ifEquals rol "admin"}}

                <tr>
                    <td>{{usuario}}</td>
                    <td>{{apellidos}}</td>
                    <td>{{nombre}}</td>
                    <td>{{correo}}</td>
                    <td>{{rol}}</td>
                    <td>
                        {{#ifEquals usuarioActual _id }}
                        <button class="btn btn-outline-primary btnx1" disabled>
                                Soy yo
                        </button> 
                        {{else}}
                        <a href="/users/profile/{{_id}}" class="btn btn-outline-primary btnx1">
                                Ver más
                        </a>
                        
                        {{/ifEquals}}
                    </td>
                    <td>{{timeago estado}}</td>
                </tr>
                {{/ifEquals}} {{#ifEquals rol "admin-colaborador"}}

                <tr>
                    <td>{{usuario}}</td>
                    <td>{{apellidos}}</td>
                    <td>{{nombre}}</td>
                    <td>{{correo}}</td>
                    <td>{{rol}}</td>
                    <td>
                        {{#ifEquals usuarioActual _id }}
                        <button class="btn btn-outline-primary btnx1" disabled>
                                Soy yo
                        </button> {{else}}
                        <a href="/users/profile/{{_id}}" class="btn btn-outline-primary btnx1">
                                Ver más
                        </a> 
                        
                        {{/ifEquals}}
                    </td>
                    <td>{{timeago estado}}</td>
                </tr>
                {{/ifEquals}} {{/each}}
            </table>

            <br>
            <center>
                <h3>Colaboradores</h3>
            </center>

            <div class="card-body" style="">
                <table class="table table-striped">
                    <tr>
                        <th>Usuario</th>
                        <th>Apellidos</th>
                        <th>Nombre(s)</th>
                        <th>Correo electrónico</th>
                        <th>Cuenta</th>
                        <th>Opciones</th>
                        <th>conexión</th>
                    </tr>

                    {{#each usuarios}} {{#ifEquals rol "colaborador"}}
                    <tr>
                        <td>{{usuario}}</td>
                        <td>{{apellidos}}</td>
                        <td>{{nombre}}</td>
                        <td>{{correo}}</td>
                        <td>{{rol}}</td>
                        <td>
                            {{#ifEquals usuarioActual _id }}
                            <button class="btn btn-outline-primary btnx1" disabled>
                                    Soy yo
                            </button> {{else}}
                            <a href="/users/profile/{{_id}}" class="btn btn-outline-primary btnx1">
                                Ver más
                            </a>

                            {{/ifEquals}}
                        
                        </td>
                        <td>{{timeago estado}}</td>
                    </tr>
                    {{/ifEquals}} {{#ifEquals rol "admin-colaborador"}}
                    <tr>
                        <td>{{usuario}}</td>
                        <td>{{apellidos}}</td>
                        <td>{{nombre}}</td>
                        <td>{{correo}}</td>
                        <td>{{rol}}</td>
                        <td>
                            {{#ifEquals usuarioActual _id }}
                            <button class="btn btn-outline-primary btnx1" disabled>
                                    Soy yo
                                </button> {{else}}
                            <a href="/users/profile/{{_id}}" class="btn btn-outline-primary btnx1">
                                Ver más
                            </a> 
                                
                            {{/ifEquals}}
                        </td>

                        <td>{{timeago estado}}</td>
                    </tr>
                    {{/ifEquals}} {{/each}}

                </table>

            </div>
        </div>

    </div>