<div class="col-md-10 mx-auto" style="width: 50%;margin-bottom: 25px;">
  <div class="card">

    <div class="card-header">
      <center>
        <h3>Perfil de usuario</h3>
      </center>
    </div>

    <div class="card-body">

      <form
        action="/users/profile/edit-profile/{{profile._id}}?_method=PUT"
        method="post"
      >
        <input type="hidden" name="_method" value="PUT" />

        <div class="mt-3">
          <input
            type="text"
            name="nombre"
            class="form-control"
            placeholder="Nombre"
            value="{{profile.nombre}}"
          />
        </div>

        <div class="mt-3">
          <input
            type="text"
            name="apellidos"
            class="form-control"
            placeholder="Apellidos"
            value="{{profile.apellidos}}"
          />
        </div>

        <div class="mt-3">
          <input
            type="number"
            name="edad"
            class="form-control"
            placeholder="Edad"
            value="{{profile.edad}}"
          />
        </div>

        <div class="mt-3">
          <input
            type="text"
            name="direccion"
            class="form-control"
            placeholder="Dirección: Ciudad, Municipio, Estado"
            value="{{profile.direccion}}"
          />
        </div>

        <div class="mt-3">
          <input
            type="number"
            name="celular"
            class="form-control"
            placeholder="Teléfono celular"
            value="{{profile.celular}}"
          />
        </div>

        <div class="mt-3">
          <input
            type="text"
            name="curp"
            class="form-control"
            placeholder="CURP"
            value="{{profile.curp}}"
          />
        </div>

        <div class="mt-3">
          <input
            type="text"
            name="rfc"
            class="form-control"
            placeholder="RFC"
            value="{{profile.rfc}}"
          />
        </div>

        <div class="mt-3">
          <input
            type="text"
            name="cvu"
            class="form-control"
            placeholder="CVU"
            value="{{profile.cvu}}"
          />
        </div>

        <div class="mt-3">
          <input
            type="text"
            name="lugarNacimiento"
            class="form-control"
            placeholder="Lugar de Nacimiento: Ciudad, Municipio, Estado"
            value="{{profile.lugarNacimiento}}"
          />
        </div>

        <div class="mt-3">
          <input
            type="email"
            name="correo"
            class="form-control"
            placeholder="Correo electrónico"
            value="{{profile.correo}}"
          />
        </div>

        <div class="mt-3">
          <button type="submit" class="btn btn-primary w-100">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>