 <div class="col-md-10 mx-auto" style="width: 50%;margin-bottom: 25px;">
  <div class="card">

    <div class="card-header">
      <center>
        <h3>Formación académica</h3>
      </center>
    </div>

    <div class="card-body" style="">
      <form
        action="/users/education/edit/{{education._id}}?_method=PUT"
        method="post"
      >
        <input type="hidden" name="_method" value="PUT" />

        <h4>Licenciatura</h4>
        <div class="mt-3">
          Título obtenido:
          <input
            type="text"
            name="tituloLicenciatura"
            class="form-control"
            placeholder=""
            value="{{education.tituloLicenciatura}}"
          />
        </div>

        <div class="mt-3">
          Fecha de obtención:
          <input
            type="text"
            name="fechaLicenciatura"
            class="form-control"
            placeholder="ejemplo: Agosto/2010"
            value="{{education.fechaLicenciatura}}"
          />
        </div>
        <br />

        <h4>Maestría</h4>
        <div class="mt-3">
          Título obtenido:
          <input
            type="text"
            name="tituloMaestria"
            class="form-control"
            placeholder=""
            value="{{education.tituloMaestria}}"
          />
        </div>

        <div class="mt-3">
          Fecha de obtención:
          <input
            type="text"
            name="fechaMaestria"
            class="form-control"
            placeholder="ejemplo: Agosto/2012"
            value="{{education.fechaMaestria}}"
          />
        </div>
        <br />

        <h4>Doctorado</h4>
        <div class="mt-3">
          Título obtenido:
          <input
            type="text"
            name="tituloDoctorado"
            class="form-control"
            placeholder=""
            value="{{education.tituloDoctorado}}"
          />
        </div>

        <div class="mt-3">
          Fecha de obtención:
          <input
            type="text"
            name="fechaDoctorado"
            class="form-control"
            placeholder="ejemplo: Agosto/2015"
            value="{{education.fechaDoctorado}}"
          />
        </div>

        <div class="mt-3">
          <button type="submit" class="btn btn-primary w-100">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>