    <div style="display: flex;width: 100%; min-height: 200px;margin-bottom: 10px;">

        <div style="width: 50%; ;">
            <div class="col-md-10 mx-auto">
                <div class="card">
                    <div class="card-header"> Información sobre usuario </div>

                    <div class="card-body" style="min-height: 370px">
                        <center>
                            <div style="font-weight: bold; font-size: 18px;">Usuario: {{profile.usuario}}</div>
                        </center>

                        <div><b>Nombre(s):</b> {{profile.nombre}}</div>
                        <div><b>Apellido(s):</b> {{profile.apellidos}}</div>
                        <div><b>Edad:</b> {{profile.edad}}</div>
                        <div><b>Dirección:</b> {{profile.direccion}}</div>
                        <div><b>Teléfono celular:</b> {{profile.celular}}</div>
                        <div><b>CURP:</b> {{profile.curp}}</div>
                        <div><b>RFC:</b> {{profile.rfc}}</div>
                        <div><b>CVU:</b> {{profile.cvu}}</div>
                        <div><b>Lugar de nacimiento:</b> {{profile.lugarNacimiento}}</div>
                        <div><b>Correo electrónico:</b> {{profile.correo}}</div>
                        <br>
                        <center>
                            <div>
                                <b>Tipo de cuenta:</b> &nbsp;  
                            
                                <button type="button" class="btn btn-outline-dark" disabled>
                                    {{profile.rol}} 
                                </button>
                                &nbsp;
                            {{#ifEquals user.rol "superAdmin"}}
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalRol">
                                    Cambiar
                                </button>
                            {{/ifEquals}}
                            </div>
                        </center>





                    </div>

                </div>
            </div>
        </div>
        <div style="width: 50%;">
            <div class="col-md-10 mx-auto">
                <div class="card">
                    <div class="card-header">Formación académica </div>
                    <div class="card-body" style="min-height: 370px">
                        <ul>
                            <li>Licenciatura</li>
                            <div><b>Título obtenido:</b> {{profile.tituloLicenciatura}}</div>
                            <div><b>Fecha de obtención:</b> {{profile.fechaLicenciatura}}</div>
                            <br>

                            <li>Maestría</li>
                            <div><b>Título obtenido:</b> {{profile.tituloMaestria}}</div>
                            <div><b>Fecha de obtención:</b> {{profile.fechaMaestria}}</div>
                            <br>

                            <li>Doctorado</li>
                            <div><b>Título obtenido:</b> {{profile.tituloDoctorado}}</div>
                            <div><b>Fecha de obtención:</b> {{profile.fechaDoctorado}}</div>
                        </ul>


                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<br>
<div style="width: 100%;margin-bottom: 25px;">
    <div class="col-md-11 mx-auto">
        <div class="card">
            <div class="card-header">Artículos registrados </div>
            <div class="card-body">
                <div>
                    <center>
                        No. Artículos: {{articulos}}

                        <a href="/articles/{{profile._id}}" class="btn btn-primary" style="width: 100px;margin-left: 30px;">
                            Ver
                        </a>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>







<div class="modal fade" id="modalRol" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tipo de cuenta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/users/profile/{{profile._id}}?_method=PUT" method="post">
            <input type="hidden" name="_method" value="PUT">

            <center>
            <select name="newRol" id="">
                <option value="" disabled selected>Seleccionar...</option>
                <option value="superAdmin">Super Admin</option>
                <option value="admin">Admin</option>
                <option value="admin-colaborador">Admin Colaborador</option>
                <option value="colaborador">Colaborador</option>
            </select>
            </center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
        </form>

      </div>
    </div>
  </div>
</div>