    <div style="display: flex;width: 100%; min-height: 200px;margin-bottom: 10px;">

        <div style="width: 50%; ;">
            <div class="col-md-10 mx-auto">
                <div class="card">
                    <div class="card-header"> Perfil de usuario </div>

                    <div class="card-body" style="min-height: 370px">
                        <center>
                            <div style="font-weight: bold; font-size: 18px;">Usuario: {{profile.usuario}}</div>
                        </center>

                        <div><b>Nombre(s):</b> {{profile.nombre}}</div>
                        <div><b>Apellido(s):</b> {{profile.apellidos}}</div>
                        <div><b>Edad:</b> {{profile.edad}}</div>
                        <div><b>Dirección:</b> {{profile.direccion}}</div>
                        <div><b>Teléfono celular:</b> {{profile.celular}}</div>
                        <div><b>CURP:</b> {{profile.curp}}</div>
                        <div><b>RFC:</b> {{profile.rfc}}</div>
                        <div><b>CVU:</b> {{profile.cvu}}</div>
                        <div><b>Lugar de nacimiento:</b> {{profile.lugarNacimiento}}</div>
                        <div><b>Correo electrónico:</b> {{profile.correo}}</div>

                        <center>
                            <div class="mt-3">

                                <a href="/users/profile/edit/{{profile._id}}" class="btn btn-primary"
                                    style="width: 100px;">
                                    Editar
                                </a>
                            </div>
                        </center>

                    </div>

                </div>
            </div>
        </div>
        <div style="width: 50%;">
            <div class="col-md-10 mx-auto">
                <div class="card">
                    <div class="card-header">Formación académica </div>
                    <div class="card-body" style="min-height: 370px">
                        <ul>
                            <li>Licenciatura</li>
                            <div><b>Título obtenido:</b> {{profile.tituloLicenciatura}}</div>
                            <div><b>Fecha de obtención:</b> {{profile.fechaLicenciatura}}</div>
                            <br>

                            <li>Maestría</li>
                            <div><b>Título obtenido:</b> {{profile.tituloMaestria}}</div>
                            <div><b>Fecha de obtención:</b> {{profile.fechaMaestria}}</div>
                            <br>

                            <li>Doctorado</li>
                            <div><b>Título obtenido:</b> {{profile.tituloDoctorado}}</div>
                            <div><b>Fecha de obtención:</b> {{profile.fechaDoctorado}}</div>
                        </ul>

                        <center>
                            <div class="mt-3">

                                <a href="/users/education/edit/{{profile._id}}" class="btn btn-primary"
                                    style="width: 100px;">
                                    Editar
                                </a>
                            </div>
                        </center>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<br>
<div style="width: 100%;margin-bottom: 25px;">
    <div class="col-md-11 mx-auto">
        <div class="card">
            <div class="card-header">Artículos registrados </div>
            <div class="card-body">
                <div>
                    <center>
                        No. Artículos: {{articulos}}

                        <a href="/articles/{{profile._id}}" class="btn btn-primary" style="width: 100px;margin-left: 30px;">
                            Ver
                        </a>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>