<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header">
        <center>
          <h2> Restablecer contraseña </h2>
        </center>
      </div>
      <div class="card-body">

        <form action="/reset-password" method="POST">

          <div class="mt-3">
            <input type="email" name="correo" placeholder="Correo electrónico" class="form-control" required="" autofocus />
          </div>
          

          <div class="mt-3">
            <button type="submit" id="btnSingin" class="btn btn-primary w-100">
              Enviar
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>