<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header">
        <center>
          <h2> Restablecer Contraseña </h2>
        </center>
      </div>
      <div class="card-body">

        <form action="/reset-password2" method="POST">

        <input type="hidden" name="token" value="{{tokenResetPwd.token}}">

          <div class="mt-3">
            <input
              type="password"
              name="contraseña"
              id="pwd1"
              placeholder="Contraseña"
              class="form-control"
              required="" 
              minlength="8"
              autofocus
            />
          </div>

          <div class="mt-3">
            <input
              type="password"
              name="confirmar_contraseña"
              placeholder="Confirmar contraseña"
              class="form-control"
              required=""
            />
          </div>

          <div class="mt-3">
            <button type="submit" id="btnSingin" class="btn btn-primary w-100">
              Restablecer contraseña
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>