<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header">
        <center>
          <h2> Inicio de sesion </h2>
        </center>
      </div>
      <div class="card-body">

        <form action="/users/signin" method="POST">

          <div class="mt-3">
            <input
              type="email"
              name="correo"
              id="email"
              placeholder="Correo electrónico"
              class="form-control"
              required=""
              autofocus
            />
          </div>

          <div class="mt-3">
            <input
              type="password"
              name="contraseña"
              id="pwd"
              placeholder="Contraseña"
              class="form-control"
              required=""
            />
          </div>

          <div class="mt-3">
            <button type="submit" id="btnSingin" class="btn btn-primary w-100">
              Iniciar sesion
            </button>
          </div>
        </form>
        <div class="mt-3 text-center">
          <a href="/reset-password" class="text-decoration-none">
            ¿Ha olvidado su contraseña?
          </a>
        </div>
      </div>
    </div>
  </div>
</div>