<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header">
        <center>
          <h2>Registro</h2>
        </center>
      </div>
      <div class="card-body">
        <form action="/users/signup" method="POST">
          <div class="mt-3">
            <input
              type="text"
              name="usuario"
              placeholder="Nombre de usuario"
              class="form-control"
              value="{{usuario}}"
              autofocus
              required
            />
          </div>

          <div class="mt-3">
            <input
              type="text"
              name="nombre"
              placeholder="Nombre(s)"
              class="form-control"
              value="{{nombre}}"
              required
            />
          </div>

          <div class="mt-3">
            <input
              type="text"
              name="apellidos"
              placeholder="Apellidos"
              class="form-control"
              value="{{apellidos}}"
              required
            />
          </div>

          <div class="mt-3">
            <input
              type="email"
              name="correo"
              placeholder="Correo electrónico"
              class="form-control"
              value="{{correo}}"
              required
            />
          </div>

          <div class="mt-3">
            <input
              type="password"
              name="contraseña"
              placeholder="Contraseña"
              class="form-control"
              value="{{contraseña}}"
              required
            />
          </div>

          <div class="mt-3">
            <input
              type="password"
              name="confirmar_contraseña"
              placeholder="Confirmar contraseña"
              class="form-control"
              value="{{confirmar_contraseña}}"
              required
            />
          </div>

          <div class="mt-3">
            <button type="submit" class="btn btn-primary w-100">
              Registrarse
            </button>
          </div>
        </form>
      
      </div>
    </div>
  </div>
</div>